<div class = 'background-planet' data-controller="list">
  <div class = 'homepage'>
    <div class = 'homepage-left'>
    <%= link_to "Create a new list", new_list_path %>
    </div>
    <div class = 'homepage-right'>
        <a href = '#' data-action="click->list#display">Watch list</a>
    </div>
  </div>
  <div class="hidden lists-active" data-list-target="navigation">
    <% @lists.each do |list| %>
        <%= link_to  list_path(list), class: "link-name" do %>
          <div class="list-item">
            <p><%= list.name %></p>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
