// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Gilroy";
$headers-font: "Gilroy-bold";
// $headers-font: "Nunito", "Helvetica", "sans-serif";

@font-face {
  font-family: "Gilroy";
  src: font-url('/app/assets/fonts/Gilroy-Light.otf');
  font-family: "Gilroy-bold";
  src: font-url('/app/assets/fonts/Gilroy-ExtraBold.otf');
}
$my-font: "Gilroy";
