// Import page-specific CSS files here.
@import "home";
body {
  background-color: #1C1C1C;
}
.background-planet {
  background-color: #1C1C1C;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 60px 30px #fff,
    0 0 100px 60px #f0f,
    0 0 140px 90px #0ff;
}
.homepage {
  position: fixed;
  right: 525px;
  bottom: 150px;
  display: flex;
  width: 500px;
  height: 300px;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: #E7E7E7;
    transition: 0.5s font-size;
  }
  a:hover{
    font-size:larger;
  }
  .homepage-right {
    margin-top: 150px;
  }
}
.lists-active {
  display: flex;
  width: 300px;
  height: 100%;
  position:fixed;
  top: 0;
  right: 0;
  margin-left: 600px;
  flex-flow: column;
  box-shadow:
    0 0 15px 7px rgba(255, 255, 255, 0.2),
    0 0 25px 15px rgba(255, 0, 255, 0.2),
    0 0 35px 22px rgba(0, 255, 255, 0.2);
  // background: rgba(0, 0, 0, 0.15);
  .link-name {
    text-align: center;
    text-decoration: none;
    color:#E7E7E7;
    transition: 0.5s font-size;
  }
  .link-name:hover {
    text-align: center;
    text-decoration: none;
    color:#E7E7E7;
    font-size: larger;
  }
  .list-item {
    border:1px solid #E7E7E7;
    align-items: center;
    margin: 20px 10px;
    padding: 20px;
    p {
      margin: 0;
    }
  }
}
