.navbar-container {
  text-align: end;
  margin-bottom: 50px;
  height: 100px;
  border-bottom:1px solid #E7E7E7;
}
.new-list {
  color: #E7E7E7;
  margin: 200px;
  padding: 18px;
}

.new-movie, .new-list{
  width: 50%;
  display: flex;
  flex-flow: column;
  margin: 200px 80px 80px 80px;
  justify-content: center;
  align-items: center;
  text-align: start;
  color: #E7E7E7;
  a {
    color: #E7E7E7;
  }
}
body {
  width: 1440px;
  height: 1024px;
}
.square-3 {
  width: 100px;
  height: 100px;
  bottom: -100px;
  left: 100px;
}
.btn {
  color: #E7E7E7;
}
