<div class = "myfooter">
  <p class = "mb-0">© 2023 Watchlist. All Rights Reserved. </p>
  <ul>
    <li><a href="# " class="btn btn-primary btn-lg btn-floating"><i class="fa-brands fa-facebook-f"></i></a></li>
    <li><a href="#" class="btn btn-primary btn-lg btn-floating"><i class="fab fa-instagram"></i></a></li>
    <li><a href="#" class="btn btn-primary btn-lg btn-floating"><i class="fa-brands fa-twitter"></i></a></li>
  </ul>
</div>
