<div class="mynavbar">
  <div>
    <%= link_to "Home", lists_path %>
    <%= link_to "Lists", lists_path %>
    <%= link_to "Search", lists_path %>
  </div>
  <i class="fa-solid fa-film" style="color: #ffffff;"></i>
</div>
