<div class = "container">
  <p class = "text-center mt-5">Trending Movies</p>
  <div class = "animation">
    <section id="slider">
      <input type="radio" name="slider" id="s1" checked>
      <input type="radio" name="slider" id="s2">
      <input type="radio" name="slider" id="s3">
      <input type="radio" name="slider" id="s4">
      <input type="radio" name="slider" id="s5">

      <label for="s1" id="slide1" style = "background-image: linear-gradient(rgba(52, 138, 255, 0.2),rgba(42, 68, 57, 0.1)), url('https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/4625/1114625-h-422cbbd01404');"></label>
      <label for="s2" id="slide2" style = "background-image: linear-gradient(rgba(52, 138, 255, 0.2),rgba(42, 68, 57, 0.1)), url('https://cdn.wallpapersafari.com/63/91/EGjUcK.jpg');"></label>
      <label for="s3" id="slide3"  style = "background-image: linear-gradient(rgba(52, 138, 255, 0.2),rgba(42, 68, 57, 0.1)), url('https://moviegalleri.net/wp-content/gallery/master-release-posters-hd/Master-Movie-Release-Posters-HD-1e2c7c5.jpg');"></label>
      <label for="s4" id="slide4" style = "background-image: linear-gradient(rgba(52, 138, 255, 0.2),rgba(42, 68, 57, 0.1)), url('https://wallpapercave.com/wp/wp8807396.jpg');"></label>
      <label for="s5" id="slide5" style = "background-image: linear-gradient(rgba(52, 138, 255, 0.2),rgba(42, 68, 57, 0.1)), url('https://www.bollywoodhungama.com/wp-content/uploads/2022/11/Pathaan-5.jpg');"></label>
    </section>
  </div>
</div>
