.mynavbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #19161F;
  padding:55px 150px;
  font-size: 40px;
  align-items: center;
  i {
    font-size: 60px;
  }
  a {
    color:#A6A6A6;
    text-decoration: none;
    padding-right: 69px;
    transition: 0.5s;
    font-family: $headers-font;
  }
  a:hover {
    color: #f5f5f4;
  }
}
